<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chat app</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <section class="chat__section">
      <div class="brand">
        <img height="40" src="/wassup.png" alt="" />
        <h1 id="h1"></h1>
        <div id="chat"></div>
        <button id="leave" onclick="leave()">leave</button>
      </div>

      <div class="message__area"></div>
      <span>
        <typing id="typing"></typing>
      </span>
      <div>
        <textarea
          id="textarea"
          cols="30"
          rows="1"
          placeholder="Write a message..."
        ></textarea>
        <input type="file" id="file" />
        <!-- <form id="form" enctype="multipart/form-data"> -->
        <!-- <input type="file" onchange="upload(this.files)" /> -->
        <!-- <input id="file" type="file" multiple /> -->
        <!-- <button class="submit-btn" type="submit">Upload</button> -->
        <!-- </form> -->
        <!-- <input type="file" id="inputElement" /> -->
      </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
